.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

.wrapper {
  max-width: 500px;
  width: 100%;
  padding: 20px;
}

.option {
  border: 3px solid black;
  padding: 8px;
}

.answer--correct {
  border: 3px solid green;
  padding: 8px;
}

.answer--incorrect {
  border: 3px solid red;
  padding: 8px;
}
